main {
    text-align: center;
}

.bloco-main {
    height: 561px;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bloco-login, .nao-tem-conta {
    width: 342px;

    margin: auto;
    margin-bottom: 13px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: 1px solid var(--cinza);
}

.bloco-login {
    height: 380px;
}

.nao-tem-conta {
    height: 75px;
    margin-bottom: 20px;
}

.bloco-login img {
    margin-bottom: 25px;
    margin-top: 20px;
}

.bloco-login form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

form input {    
    margin-bottom: 10px;
}

form button {    
    margin-top: 10px;
    margin-bottom: 30px;
}

form button:hover {
    cursor: pointer;
}

form a {
    text-decoration: none;
    color: var(--azul);
}

.linhas-ou {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linhas-ou p {
    text-transform: uppercase;
    color: var(--cinza-escuro);
}

hr {
    width: 40%;
    height: 0;
    color: var(--cinza);
}

.nao-tem-conta a {
    text-decoration: none;
    color: var(--azul);
}

.lojas {
    height: 39px;
    margin-top: 20px ;
    display: flex;
    justify-content: center;
}

.lojas a {
    height: 100%;
    margin: 0 5px;
}
.lojas img {
    height: 100%;
}